{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate "Изменение команды" %}</title>
{% endblock %}
{% block content %}
  <div class="mx-auto container">
    {% csrf_token %}
    {% include "includes/form2.html" with form_title="Изменение команды" submit_text="Изменить" success=form_success %}
    {% include "includes/form2.html" with form=meeting_form form_title="Создание встречи" submit_text="Создать" success=meeting_form_success %}
  </div>
{% endblock %}