{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate 'Команда' %}</title>
{% endblock %}
{% block content %}
  <div class="mx-auto container">
    <div class="flex">
      <div>
        <p class="text-5xl">{{ team.name }}</p>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex space-x-3">
        {% for skill in team.skills.all %}
          <div class="p-3 border border-white rounded">{{ skill.name }}</div>
        {% endfor %}
      </div>
      <div class="mt-5">
        <p class="text-3xl">Участники</p>
        <div>
          {% for member in team.members.all %}
            {{ member.username }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
