{% load i18n %}
<li class="flex py-6">
    <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
        {% if member.user.avatar %}
        <img src="{{ member.user.avatar }}" class="h-full w-full object-cover object-center">
        {% endif %}
    </div>

    <div class="ml-4 flex flex-1 flex-col">
        <div>
            <div class="flex justify-between text-base font-medium text-white">
                <h3>
                    <a href="{% url 'users:user_detail' member.user.pk %}">{{member.user.username}}</a>
                </h3>
            </div>
            <p class="mt-1 text-sm text-gray-500">{% if member.is_lead %}{% translate 'Лид' %}{% else %}{% translate 'Участник' %}{% endif %}</p>
        </div>
    </div>
</li>
