{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <link type="text/css" href="{% static 'css/global.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/tailwind-output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block title %}
      <title>Base template</title>
    {% endblock %}
  </head>
  <body class="bg-neutral-800 dark">
    <div class="flex flex-col h-screen">
      {% include "includes/header.html" %}
      <main class="text-neutral-200 mt-2 grow">
        {% block content %}{% endblock %}
      </main>
      {% include "includes/footer.html" %}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  <script>
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.cookie = "django_timezone=" + timezone;
  </script>
</html>
