{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate "Открытые пользователи" %}</title>
{% endblock %}
{% block content %}
  <div class="mx-auto container">
    <p class="text-white text-center text-3xl break-normal">{% translate "Список открытых пользователей" %}:</p>
    <div class="flex flex-col items-center">
      {% for user in users %}
        <div class="my-2 w-80 grid grid-cols-3 rounded-md border dark:border-white dark:text-white">
          <div class="col-span-2 justify-self-start flex items-start text-white">
            <img class="h-20 w-20 mr-2 rounded" src="{{ user.get_avatar_300x300.url }}" alt="">
              <a href="{% url 'users:user_detail' user.id %}" class="text-xl underline text-[#dec98a] hover:text-[#d4bc77] visited:text-[#ebbf3d]">
                {{ user.username }}
              </a>
              <div class="col flex items-end text-white px-5">
                {% for skill in user.skills.all %}
                  <div class="text-center border rounded dark:border-neutral-100 px-3">{{ skill.name }}
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
      {% empty %}
        <p class="text-white text-center text-2xl break-normal py-3">{% translate "Пусто" %}...</p>
      {% endfor %}
  {% if is_paginated %}
    <ul class="inline-flex -space-x-px pagination self-center py-3">
      {% if page_obj.has_previous %}
        <li class="px-1"><a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 ml-0 leading-tight text-gray-500 border border-gray-300 rounded-l-lg hover:bg-gray-700 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white">{% translate "Предыдущая" %}</a></li>
      {% else %}
        <li class="disabled px-1"><span>{% translate "Предыдущая" %}</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active px-1.5"><span>{{ i }}<span class="sr-only" aria-current="page">(current)</span></span></li>
        {% else %}
          <li class="px-1.5"><a href="?page={{ i }}" "px-3 py-2 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="px-1"><a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 ml-0 leading-tight text-gray-500 border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{% translate "Следующая" %}</a></li>
      {% else %}
        <li class="disabled px-1"><span>{% translate "Следующая" %}</span></li>
      {% endif %}
    </ul>
  {% endif %}
  </div>  
{% endblock %}
