{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate "Профиль" %}</title>
{% endblock %}
{% block content %}
  <div class="mx-auto container pb-3">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="col-span-full mb-6">
            <label class="block text-sm font-medium leading-6">{{ field.label }}</label>
              {{ field }}
            <div class="text-slate-500 text-sm">{{ field.help_text }}</div>
              {% for error in field.errors %}
                <p class="text-red-700 text-sm">{{ error }}</p>
              {% endfor %}
          </div>
        {% endfor %}
        {% if additional_field %}
          {% include additional_field %}
        {% endif %}
        <button class="group relative flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{% translate "Отправить" %}</button>
      </form>
  </div>
{% endblock %}
