{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate "Открытые пользователи" %}</title>
{% endblock %}
{% block content %}
  <div class="mx-auto container">
    <p class="text-white text-center text-3xl break-normal">{% translate "Список открытых пользователей" %}:</p>
    <div class="flex flex-col items-center">
      {% for user in users %}
        <div class="my-2 grid grid-cols-3 rounded-md border dark:border-white dark:text-white">
          <a href="{% url 'users:user_detail' user.id %}" class="text-[#dec98a] hover:text-[#d4bc77] visited:text-[#ebbf3d]">
            <div class="col-span-2 justify-self-start flex items-start text-white">
              <img class="h-20 w-20 mr-2 rounded" src="{{ user.get_avatar_300x300.url }}" alt="">
              <p class="text-xl">{{ user.username }}</p>
              <div class="col flex items-end text-white px-5">
                {% for skill in user.skills.all %}
                  <div class="text-center border rounded dark:border-neutral-100 px-3">{{ skill.name }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </a>
        </div>
      {% empty %}
        <p class="text-white text-center text-2xl break-normal py-3">{% translate "Пусто" %}...</p>
      {% endfor %}
  </div>  
{% endblock %}
